/*

My Custom CSS
=============

Author:  Tony Termine
Updated: April 2014
Notes:   main.css for list-project

*/

/* --------------------------------------
	Orange Theme
	-------------------------------------- */
	.footer-container,
	.main aside {
			border-top: 20px solid #e44d26;
	}

	.header-container,
	.footer-container,
	.main aside {
			background: #f16529;
	}

/* --------------------------------------
	Header Elements
	-------------------------------------- */
	.header-container {
		width: 100%;
		border-bottom: 20px solid #e44d26;
	}

	.logo-container {
    width: 100%;
	}

	.logo {
		padding-top: 20px;
		text-align: center;
		margin: 0;
	}

	.logo i {
		border: 3px solid #fff;
		border-radius: 10px;
		padding: 8px;
	}

	.title {
	  color: white;
	  font-family: 'Pacifico', cursive;
	  font-size: 3.5em;
	  margin: 0 auto;
	}

	.title, i {
		color: #fff;
		text-align: center;
	}


/* --------------------------------------
	Body Elements
	-------------------------------------- */

	.header-container,
	form {
			-webkit-box-shadow: 0 5px 10px #aaa;
				 -moz-box-shadow: 0 5px 10px #aaa;
							box-shadow: 0 5px 10px #aaa;
	}

	.main-container {
		height: 450px;
		min-height: 100%;
	}

	.main {
			padding: 30px 0;
	}

	form {
		padding: 20px 0;
		width: 100%;
		margin: 0 auto;
		text-align: center;
		background: url("../img/paper.png");
	}

	.main-input {
		width: 70%;
		margin: 0 auto;
	}

	h4 {
		font-family: 'Comfortaa', Arial, sans-serif;
		font-weight: lighter;
	}

	ul {
		margin: 0 auto;
		width: 90%;
	}

	.checkbox {
		color: #000;
		float: left;
		margin-top: 3px;
		margin-right: 30px;
	}

	.check {
		color: green;
	}

	.completed {
		text-decoration: line-through;
	}

	form li {
		list-style-type: none;
		font-family: 'Architects Daughter', Arial, sans-serif;
		font-size: 1.4em;
		font-weight: bold;
		text-align: left;
		position: relative;
		vertical-align: middle;
	}

	.main aside {
			color: white;
			padding: 0px 5% 10px;
	}

/* --------------------------------------
	Footer Elements
	-------------------------------------- */
	.footer-container footer {
			color: white;
			padding: 20px 0;
	}

	h3 {
		color: white;
		font-family: 'Pacifico', cursive;
		font-size: 1.4em;
		text-align: center;
	}

	span {
		vertical-align: middle;
	}

/* --------------------------------------
	Global Styles
	-------------------------------------- */

	body {
			background: url("../img/paper.png");
			-webkit-font-smoothing: antialiased;
			text-rendering: optimizelegibility;
	}

	.wrapper {
			width: 90%;
			margin: 0 5%;
	}

	hr {
			display: block;
			height: 1px;
			border: 0;
			border-top: 1px solid #ccc;
			margin: 1em 0;
			padding: 0;
	}

	audio,
	canvas,
	img,
	video {
			vertical-align: middle;
	}

	fieldset {
			border: 0;
			margin: 0;
			padding: 0;
	}

	textarea {
			resize: vertical;
	}

	.browsehappy {
			margin: 0.2em 0;
			background: #ccc;
			color: #000;
			padding: 0.2em 0;
	}

	/* ==========================================================================
		 Media Queries
		 ========================================================================== */

	@media only screen and (min-width: 1px) and (max-width: 480px) {

		.logo {
			font-size: 0.8em;
		}

		.title {
			font-size: 2.8em;
		}

		form h4 {
			font-size: 0.8em;
		}

		ul {
			width: 100%;
			padding: 0;
		}

		ul li {
			font-size: 1.2em;
		}

		footer h3 {
			font-size: 1em;
		}
	}



	@media only screen and (min-width: 768px) {



	@media only screen and (min-width: 1140px) {

	/* ===============
			Maximal Width
		 =============== */

			.wrapper {
					width: 1026px; /* 1140px - 10% for margins */
					margin: 0 auto;
			}
	}

	/* ==========================================================================
		 Helper classes
		 ========================================================================== */

	.ir {
			background-color: transparent;
			border: 0;
			overflow: hidden;
			*text-indent: -9999px;
	}

	.ir:before {
			content: "";
			display: block;
			width: 0;
			height: 150%;
	}

	.hidden {
			display: none !important;
			visibility: hidden;
	}

	.visuallyhidden {
			border: 0;
			clip: rect(0 0 0 0);
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;
	}

	.visuallyhidden.focusable:active,
	.visuallyhidden.focusable:focus {
			clip: auto;
			height: auto;
			margin: 0;
			overflow: visible;
			position: static;
			width: auto;
	}

	.invisible {
			visibility: hidden;
	}

	.clearfix:before,
	.clearfix:after {
			content: " ";
			display: table;
	}

	.clearfix:after {
			clear: both;
	}

	.clearfix {
			*zoom: 1;
	}